Repository Enakers/adaptive-games: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

build(repo): implement basic vscode project config
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

fix(repo): lint staged ui glob pattern
  .lintstagedrc.json
Due: prettier --write

build(repo): eslint ignore dist & add jsx-runtime
  .eslintrc.js
Due: prettier --write

build(ui): setup ui shared library
  commitlint.config.js
  packages/ui/.storybook/main.cjs
  packages/ui/.storybook/preview-head.html
  packages/ui/.storybook/preview.cjs
  packages/ui/package.json
  packages/ui/postcss.config.cjs
  packages/ui/src/components/index.ts
  packages/ui/src/index.css
  packages/ui/src/index.ts
  packages/ui/src/vite-env.d.ts
  packages/ui/tailwind.config.cjs
  packages/ui/tsconfig.eslint.json
  packages/ui/tsconfig.json
  packages/ui/tsconfig.node.json
  packages/ui/vite.config.ts
  packages/ui/vitest.setup.ts
  yarn.lock
Due: eslint --fix, prettier --write

build(ui): add react-icons dependency
  packages/ui/package.json
  yarn.lock
Due: prettier --write

test(ui): add theme toggle component for storybook tests
  packages/ui/src/utils/StorybookThemeToggle.tsx
Due: prettier --write

feat(ui): add sortable list component with @dnd-kit
  packages/ui/package.json
  packages/ui/src/components/SortableList/ListItem/BaseListItem.tsx
  packages/ui/src/components/SortableList/ListItem/ListItem.tsx
  packages/ui/src/components/SortableList/ListItem/index.ts
  packages/ui/src/components/SortableList/SortableList.d.ts
  packages/ui/src/components/SortableList/SortableList.stories.tsx
  packages/ui/src/components/SortableList/SortableList.tsx
  packages/ui/src/components/SortableList/index.ts
  packages/ui/src/components/index.ts
  packages/ui/src/index.ts
  yarn.lock
Due: prettier --write

feat(ui): add adaptive imput component
  packages/ui/src/components/AdaptiveInput/AdaptiveInput.container.tsx
  packages/ui/src/components/AdaptiveInput/AdaptiveInput.spec.tsx
  packages/ui/src/components/AdaptiveInput/AdaptiveInput.stories.tsx
  packages/ui/src/components/AdaptiveInput/AdaptiveInput.tsx
  packages/ui/src/components/AdaptiveInput/AdaptiveInput.utils.tsx
  packages/ui/src/components/AdaptiveInput/assets/eye.png
  packages/ui/src/components/AdaptiveInput/assets/mouse.png
  packages/ui/src/components/AdaptiveInput/assets/switch.png
  packages/ui/src/components/AdaptiveInput/assets/touch.png
  packages/ui/src/components/AdaptiveInput/index.ts
Due: prettier --write

fix(ui): adaptive input exports
  packages/ui/src/components/AdaptiveInput/AdaptiveInput.spec.tsx
  packages/ui/src/components/AdaptiveInput/AdaptiveInput.tsx
  packages/ui/src/components/AdaptiveInput/index.ts
  packages/ui/src/components/index.ts
Due: prettier --write

feat(ui): add confirm modal component
  packages/ui/src/components/ConfirmModal/ConfirmModal.spec.tsx
  packages/ui/src/components/ConfirmModal/ConfirmModal.stories.tsx
  packages/ui/src/components/ConfirmModal/ConfirmModal.tsx
  packages/ui/src/components/ConfirmModal/index.ts
  packages/ui/src/components/index.ts
Due: prettier --write

build(literacy): add nextjs project literacy
  .eslintrc.js
  apps/literacy/README.md
  apps/literacy/next.config.mjs
  apps/literacy/package.json
  apps/literacy/postcss.config.js
  apps/literacy/prisma/schema.prisma
  apps/literacy/public/favicon.ico
  apps/literacy/src/pages/_app.tsx
  apps/literacy/src/pages/api/auth/[...nextauth].ts
  apps/literacy/src/pages/index.tsx
  apps/literacy/src/server/db/client.ts
  apps/literacy/src/server/env-schema.mjs
  apps/literacy/src/server/env.mjs
  apps/literacy/src/styles/globals.css
  apps/literacy/src/types/next-auth.d.ts
  apps/literacy/src/types/next-env.d.ts
  apps/literacy/tailwind.config.js
  apps/literacy/tsconfig.json
  commitlint.config.js
  yarn.lock
Due: eslint --fix, prettier --write

build(literacy): add react-icons dependency
  apps/literacy/package.json
Due: prettier --write

feat(literacy): add basic layout with theme toggle
  apps/literacy/package.json
  apps/literacy/src/components/Layout/Layout.tsx
  apps/literacy/src/components/Layout/Navbar/Nav.tsx
  apps/literacy/src/components/Layout/Navbar/Navbar.tsx
  apps/literacy/src/components/Layout/Navbar/ThemeToggle.tsx
  apps/literacy/src/components/Layout/Navbar/index.ts
  apps/literacy/src/components/Layout/index.ts
  apps/literacy/src/pages/_app.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat(literacy): add google auth
  apps/literacy/next-env.d.ts
  apps/literacy/next.config.mjs
  apps/literacy/src/components/Layout/Navbar/Navbar.tsx
  apps/literacy/src/components/Layout/Navbar/UserDropdown.tsx
Due: eslint --fix, prettier --write

build(literacy): add zustand
  apps/literacy/package.json
  yarn.lock
Due: prettier --write

fix(ui): types not generated correctly on build
  packages/ui/src/components/AdaptiveInput/AdaptiveInput.stories.tsx
  packages/ui/src/components/SortableList/ListItem/BaseListItem.tsx
  packages/ui/src/components/SortableList/ListItem/ListItem.tsx
  packages/ui/src/components/SortableList/SortableList.tsx
  packages/ui/src/components/SortableList/SortableList.types.d.ts
  packages/ui/src/components/SortableList/index.ts
Due: prettier --write

feat(literacy): add react-toastify
  apps/literacy/package.json
  apps/literacy/src/components/Layout/Layout.tsx
  apps/literacy/src/styles/globals.css
  yarn.lock
Due: eslint --fix, prettier --write

feat(literacy): add word lists
  apps/literacy/prisma/schema.prisma
  apps/literacy/src/components/Layout/Layout.tsx
  apps/literacy/src/components/Layout/Navbar/Nav.tsx
  apps/literacy/src/components/WordListPage/SavedWordLists.tsx
  apps/literacy/src/components/WordListPage/WordList.tsx
  apps/literacy/src/components/WordListPage/WordListPage.tsx
  apps/literacy/src/components/WordListPage/index.ts
  apps/literacy/src/pages/_app.tsx
  apps/literacy/src/pages/api/auth/[...nextauth].ts
  apps/literacy/src/pages/api/user/word-list.ts
  apps/literacy/src/pages/word-list.tsx
  apps/literacy/src/store/index.ts
  apps/literacy/src/store/store.ts
  apps/literacy/src/store/wordListSlice.ts
  apps/literacy/src/types/next-auth.d.ts
  apps/literacy/src/types/store.d.ts
Due: eslint --fix, prettier --write

feat(ui): increase list item border radius
  packages/ui/src/components/SortableList/ListItem/BaseListItem.tsx
Due: prettier --write

feat(literacy): add configuration options
  apps/literacy/src/components/Layout/Navbar/Nav.tsx
  apps/literacy/src/components/SettingsPage/SettingsPage.tsx
  apps/literacy/src/components/SettingsPage/Voices.tsx
  apps/literacy/src/components/SettingsPage/index.ts
  apps/literacy/src/pages/settings.tsx
  apps/literacy/src/store/configSlice.ts
  apps/literacy/src/store/gameSlice.ts
  apps/literacy/src/store/store.ts
  apps/literacy/src/types/store.d.ts
Due: eslint --fix, prettier --write

feat(literacy): add game
  apps/literacy/src/components/GamePage/GamePage.tsx
  apps/literacy/src/components/GamePage/GuessFeedback.tsx
  apps/literacy/src/components/GamePage/GuessInput.tsx
  apps/literacy/src/components/GamePage/HintButtons.tsx
  apps/literacy/src/components/GamePage/Keyboard/Key.tsx
  apps/literacy/src/components/GamePage/Keyboard/Keyboard.tsx
  apps/literacy/src/components/GamePage/Keyboard/index.ts
  apps/literacy/src/components/GamePage/index.ts
  apps/literacy/src/components/ResultsPage/ResultsPage.tsx
  apps/literacy/src/components/ResultsPage/index.ts
  apps/literacy/src/components/WordListPage/WordList.tsx
  apps/literacy/src/pages/game.tsx
  apps/literacy/src/pages/index.tsx
  apps/literacy/src/pages/results.tsx
  apps/literacy/src/store/gameSlice.ts
  apps/literacy/src/styles/globals.css
  apps/literacy/src/types/store.d.ts
  apps/literacy/tailwind.config.js
Due: eslint --fix, prettier --write

feat(literacy): add production security headers
  apps/literacy/next.config.mjs
  apps/literacy/package.json
  yarn.lock
Due: prettier --write

build(literacy): add basic dockerfile
  apps/literacy/Dockerfile
  apps/literacy/docker_build.sh
Due: none

feat(literacy): peak & speak after incorrect guess
  apps/literacy/src/components/GamePage/GamePage.tsx
  apps/literacy/src/components/GamePage/HintButtons.tsx
Due: eslint --fix, prettier --write

fix(literacy): ui build command
  apps/literacy/docker_build.sh
Due: none

fix(literacy): remove duplicate prisma generate
  apps/literacy/Dockerfile
Due: none

build(repo): add docker_deploy script to gitignore
  .gitignore
Due: none

build(docs): add nextjs project docs
  apps/docs/README.md
  apps/docs/next-env.d.ts
  apps/docs/next.config.mjs
  apps/docs/package.json
  apps/docs/postcss.config.js
  apps/docs/public/favicon.ico
  apps/docs/src/pages/_app.tsx
  apps/docs/src/pages/index.tsx
  apps/docs/src/server/env-schema.mjs
  apps/docs/src/server/env.mjs
  apps/docs/src/styles/globals.css
  apps/docs/tailwind.config.js
  apps/docs/tsconfig.json
  commitlint.config.js
  yarn.lock
Due: eslint --fix, prettier --write

fix(literacy): daisyui config themes property
  apps/literacy/tailwind.config.js
Due: eslint --fix, prettier --write

feat(docs): add app shell with theme toggle
  apps/docs/package.json
  apps/docs/src/components/AppShell/AppShell.tsx
  apps/docs/src/components/AppShell/ThemeToggle.tsx
  apps/docs/src/components/AppShell/index.ts
  apps/docs/src/pages/_app.tsx
Due: eslint --fix, prettier --write

fix(docs): app shell sidebar on mobile layout
  apps/docs/src/components/AppShell/AppShell.tsx
Due: eslint --fix, prettier --write

feat(docs): add literacy app docs
  apps/docs/public/literacy/correct.png
  apps/docs/public/literacy/demo.gif
  apps/docs/public/literacy/feedback.png
  apps/docs/public/literacy/game.png
  apps/docs/public/literacy/incorrect.png
  apps/docs/public/literacy/landing.png
  apps/docs/public/literacy/save-word-list.gif
  apps/docs/public/literacy/settings.png
  apps/docs/public/literacy/word-list.gif
  apps/docs/public/literacy/word-list.png
  apps/docs/src/components/AppShell/AppShell.tsx
  apps/docs/src/components/Section.tsx
  apps/docs/src/pages/literacy.tsx
Due: eslint --fix, prettier --write

fix(docs): spelling
  apps/docs/src/pages/literacy.tsx
Due: eslint --fix, prettier --write

fix(literacy): spelling
  apps/literacy/src/components/GamePage/GamePage.tsx
  apps/literacy/src/components/SettingsPage/SettingsPage.tsx
  apps/literacy/src/store/configSlice.ts
  apps/literacy/src/types/store.d.ts
Due: eslint --fix, prettier --write

feat(docs): index page description & preview cards
  apps/docs/src/pages/index.tsx
Due: eslint --fix, prettier --write

feat(docs): add security headers with next-safe
  apps/docs/next.config.mjs
  apps/docs/package.json
Due: prettier --write

build(docs): add dockerfile
  apps/docs/.dockerignore
  apps/docs/Dockerfile
  apps/docs/docker_build.sh
Due: none

Path conditions:
  eslint --fix: (any of: packages/ui/*.{js,ts,jsx,tsx}) or (any of: apps/**/*.{js,ts,jsx,tsx})
  prettier --write: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,md}
